* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1212px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  font-family: "Lato", sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 80px 0;
}

.title img {
  margin-left: 5px;
  margin-top: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  border-top: 1px solid rgba(39, 39, 39, 0.4);
  border-bottom: 1px solid rgba(39, 39, 39, 0.4);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info-item img {
  max-width: 160px;
  width: 100%;
  height: auto;
}

.header__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__copy-img {
  cursor: pointer;
  position: relative;
}

.header__copy-img .tooltip {
  position: absolute;
  left: 10px;
  bottom: -27px;
  background: white;
  border: 1px solid #0aaa0a;
  padding: 5px 10px;
  border-radius: 3px;
  color: #0aaa0a;
  opacity: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__copy-text {
  margin-left: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  pointer-events: none;
}

.header__copy-text:focus {
  pointer-events: none;
}

.info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #272727;
}

.info__link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  margin-top: 18px;
  color: #272727;
  max-width: 215px;
  width: 100%;
}

.section__title {
  margin-top: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.05em;
  color: #272727;
}

.faq__item {
  margin-top: 80px;
}

.faq__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 40px;
}

.accordion .accordion__item {
  border-top: 1px solid rgba(39, 39, 39, 0.6);
}

.accordion .accordion__item:last-child {
  border-bottom: 1px solid rgba(39, 39, 39, 0.6);
}

.accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}

.accordion .accordion__item.accordion__item-active .line2 {
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.accordion .accordion__item.accordion__item-active .line1 {
  opacity: 0;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.accordion .accordion__item.accordion__item-active .trigger__text {
  color: #0054b1 !important;
}

.accordion .accordion__item .accordion__item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.accordion .accordion__item .accordion__item-trigger .trigger__text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.accordion .accordion__item .accordion__item-trigger .trigger__img {
  position: relative;
  margin-left: auto;
}

.accordion .accordion__item .accordion__item-trigger .trigger__img .line1 {
  display: block;
  width: 14px;
  height: 2px;
  background: #0054b1;
  border-radius: 100px;
}

.accordion .accordion__item .accordion__item-trigger .trigger__img .line2 {
  display: block;
  width: 14px;
  height: 2px;
  background: #0054b1;
  margin-top: -2px;
  border-radius: 100px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion .accordion__item .accordion__item-content {
  display: none;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
  padding-left: 100px;
  padding-right: 200px;
}

.accordion .accordion__item .accordion__item-content .content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 40px;
}

.accordion .accordion__item .accordion__item-content .content__text:not(:last-child) {
  margin-bottom: 10px;
}

.section__contacts {
  padding: 120px 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  text-transform: uppercase;
  margin: 0;
}

.contacts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 40px;
}

.contacts__link:hover svg {
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px);
}

.contacts__link svg {
  margin-left: 15px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.contacts__form {
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.form__label .result {
  width: 100%;
  text-align: right;
  margin-top: -30px;
  padding-right: 10px;
  color: #737373;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.form__input {
  padding: 20px 20px 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  outline: none;
}

.form__input:disabled {
  outline: 1px solid gray;
}

.form__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 20px 20px 24px;
  resize: none;
  min-height: 290px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  font-family: sans-serif;
}

.form__textarea:disabled {
  outline: 1px solid gray;
}

.form__textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.6;
  color: #000000;
}

.form__btn {
  margin-top: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 54px;
  background: #0054b1;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.form__btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.form__btn:disabled:hover {
  background: gray;
}

.form__btn:hover {
  background: #013775;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.form__text {
  margin-top: 15px;
}

footer {
  padding-bottom: 100px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(39, 39, 39, 0.4);
  border-bottom: 1px solid rgba(39, 39, 39, 0.4);
  padding: 40px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 0;
  text-transform: uppercase;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #004fa9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link:first-child {
  margin-bottom: 35px;
}

.footer__link svg {
  margin-right: 18px;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199.98px) {
  .title {
    padding: 50px 0;
    font-size: 48px;
    line-height: 120%;
  }

  .section__title {
    font-size: 42px;
    line-height: 120%;
    margin-top: 50px;
  }

  .faq__item {
    margin-top: 50px;
  }

  .faq__item-title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 120%;
  }

  .contacts__title {
    margin: 0;
  }

  .footer__title {
    margin: 0;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .header {
    padding: 24px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .header__logos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }

  .header__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
  }

  .accordion .accordion__item .accordion__item-trigger {
    padding: 32px 0;
  }

  .accordion .accordion__item .accordion__item-content {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section__contacts {
    padding: 80px 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .title {
    font-size: 36px;
    line-height: 120%;
    padding: 32px 0;
  }

  .title img {
    width: 48px;
    margin-top: 7px;
  }

  .header__logo svg {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .header__copy-text {
    font-size: 12px;
  }

  .info__link {
    font-size: 16px;
  }

  .section__title {
    font-size: 32px;
  }

  .faq__item-title {
    font-size: 24px;
  }

  .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 20px;
    line-height: 120%;
  }

  .accordion .accordion__item .accordion__item-content {
    padding: 0;
  }

  .accordion .accordion__item .accordion__item-content .content__text {
    font-size: 16px;
  }

  .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .contacts__link {
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
  }

  .contacts__form {
    margin-top: 40px;
    max-width: 100%;
  }

  .form__input {
    padding: 16px;
  }

  .form__textarea {
    min-height: 173px;
  }

  .form__btn {
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }

  footer {
    padding-bottom: 64px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px 0;
  }

  .footer__link {
    margin-top: 24px;
    font-size: 20px;
    line-height: 110%;
  }

  .footer__link:first-child {
    margin-bottom: 0;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 374.98px) {
  .title {
    font-size: 28px;
  }

  .title img {
    margin-top: 0;
  }

  .header__copy-text {
    font-size: 10px;
  }

  .footer__link svg {
    width: 20px;
    margin-right: 10px;
  }
}